

</body>
</html>


<% if(page != "Home") { %>
  <ul class="footer social-links-list">
    <li><a class="social-links twitter-color" href="https://twitter.com/bargauchan" target="_blank"></a></li>
    <li><a class="social-links instagram-color" href="https://instagram.com/bargauchan" target="_blank"></a></li>
    <li><a class="social-links dribbble-color" href="https://dribbble.com/bgauchan" target="_blank"></a></li>
    <li><a class="social-links github-color" href="https://github.com/bgauchan" target="_blank"></a></li>
    <li><a class="social-links linkedin-color" href="https://ca.linkedin.com/pub/bardan-gauchan/28/116/340" target="_blank"></a></li>
  </ul>
<% } %>
