
.theme-one {
    --background-color: #F9F7F4;
    --text-header-color: #011638;
    --text-header-secondary-color: #326562;
    --text-color: #43536C;
    --link-color: #3d5bf1;

    --normal-margin-top: min(30px, 3vw);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
}

p {
    color: var(--text-color);
    font-size: 18px;
}

h1, h2, h3 {
    color: var(--text-header-color);
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 24px;
}

a {
    color: var(--link-color);
}

.container {
    background: var(--background-color);
    padding: min(100px, 10vw);
    position: relative;
}

/** Main Section **/

h1 {
    font-weight: 800;
    font-size: 60px;
}

img.character {
    position: absolute;
    top: min(100px, 20vw);
    right: -40px;
    transform: rotate(-90deg);
    transition: transform 300ms ease-out;
}

main .intro p {
    font-size: 22px;
    line-height: 32px;
    margin-top: min(40px, 4vw);
    max-width: 640px;
}

main .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: min(40px, 4vw);
    margin-top: min(80px, 6vw);
}

main .links > a,
main .links > div {
    border: 2px solid var(--text-header-secondary-color);
    border-radius: 8px;
    padding: 25px 30px;
    transition: background 250ms;
}

main .links a {
    text-decoration: none;
}

main .links > a:hover {
    background: var(--text-header-secondary-color);
    border: 2px solid black;
}

main .links > a:hover h3,
main .links > a:hover p {
    color: white;
}

main .links p {
    font-weight: 600;
    margin-top: var(--normal-margin-top);
}

main .icons {
    margin-top: var(--normal-margin-top);
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

main .icons svg {
    height: 30px;
    width: 30px;
    transition: transform 250ms ease-out;
}

main .icons svg:hover {
    transform: scale(1.25);
}

main .icons .instagram svg {
    height: 28px;
    width: 28px;
    transform: translateY(2px);
}

main .icons .instagram svg:hover {
    transform: scale(1.25) translateY(2px);
}