
.theme-one {
    --background-color: #F9F7F4;
    --text-header-color: #011638;
    --text-header-secondary-color: #326562;
    --text-color: #43536C;
    --link-color: #3d5bf1;

    --normal-margin-gap: min(30px, 4vw);
    --big-margin-gap: min(60px, 6vw);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
}

p {
    color: var(--text-color);
    font-size: 18px;
}

h1, h2, h3 {
    color: var(--text-header-color);
    font-family: 'Playfair Display', serif;
}

h1 {
    font-weight: 800;
    font-size: 60px;
}

h2 {
    font-size: 36px;
    margin: var(--big-margin-gap) 0 min(20px, 3vw);
}

h3 {
    color: var(--text-header-secondary-color);
    font-size: 24px;
}

a {
    color: var(--link-color);
}

.container {
    background: var(--background-color);
    box-sizing: border-box;
    padding: min(100px, 6vw);
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
}

/** Main Section **/

img.character {
    position: absolute;
    top: min(100px, 14vw);
    right: -40px;
    transform: rotate(-90deg);
    transition: transform 300ms ease-out;
}

main .intro p {
    font-size: 22px;
    line-height: 32px;
    margin-top: min(40px, 4vw);
    max-width: 640px;
}

main .links,
.side-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: min(40px, 4vw);
    margin-top: var(--big-margin-gap);
}

main .links > a,
main .links > div {
    border: 1px solid var(--text-header-secondary-color);
    border-radius: 8px;
    padding: 25px 30px;
    transition: background 250ms;
}

main .links a {
    text-decoration: none;
}

main .links > a:hover {
    background: var(--text-header-secondary-color);
    border: 1px solid black;
}

main .links > a:hover h3,
main .links > a:hover p {
    color: white;
}

main .links p {
    font-weight: 600;
    margin-top: var(--normal-margin-gap);
}

main .icons {
    margin-top: var(--normal-margin-gap);
    display: flex;
    justify-content: space-between;
    max-width: 280px;
}

main .icons svg {
    height: 30px;
    width: 30px;
    transition: transform 250ms ease-out;
}

main .icons svg:hover {
    transform: scale(1.25);
}

main .icons .instagram svg {
    height: 28px;
    width: 28px;
    transform: translateY(2px);
}

main .icons .instagram svg:hover {
    transform: scale(1.25) translateY(2px);
}

.side-projects-grid > a {
    background: #EEFAF7;
    border-radius: 8px;
    border: 1px solid rgba(50, 101, 98, .5);
    padding: 25px 30px;
    text-decoration: none;
    transition: background 250ms;
}

.side-projects-grid > a:hover {
    background: var(--text-header-secondary-color);
    border: 1px solid black;
}

.side-projects-grid > a:hover h3,
.side-projects-grid > a:hover p {
    color: white;
}

.side-projects-grid > a:hover .icon {
    background: #EEFAF7;
}

.side-projects-grid .icon {
    background: #5b6e8a;
    border-radius: 50%;
    display: grid;
    place-items: center;
    height: 80px;
    width: 80px;
    font-size: 36px;
    margin-bottom: var(--normal-margin-gap);
}

.side-projects-grid .icon.man {
    font-size: 42px;
}

.side-projects-grid p {
    margin-top: var(--normal-margin-gap);
}

@media (max-width: 900px) {
    main .links,
    .side-projects-grid {
        grid-template-columns: 1fr;
    }

    img.character {
        height: 60px;
        width: 113px;
        right: -30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-weight: 600;
    }

    .container > section {
        border-top: 2px dotted var(--text-header-color);
        margin-top: 40px;
    }

    img.character {
        height: 50px;
        width: 94px;
        right: -22px;
    }

    main .intro p {
        font-size: 20px;
        line-height: 28px;
    }

    main .links > a, 
    main .links > div {
        padding: 12px 18px;
    }

    .side-projects-grid > a {
        padding: 20px 25px;
    }

    .side-projects-grid .icon {
        height: 60px;
        width: 60px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .side-projects-grid .icon.man {
        font-size: 34px;
    }
}