

<% var page = 'About'; %>
<% include partials/header.ejs %>

<div id="about" class="container about">
  <div class="row">
    <div class="twelve columns">
      <p>Hey, I'm Bardan. Originally from a small country named Nepal, I moved to Canada 12 years ago. First settling down in Calgary and now currently living in a beautiful city called Vancouver. I am passionate about design and technology and the work I do.</p>

      <p>While I can do various things like branding, illustration, front-end development (mostly CSS3, HTML5, and JQuery), php/WordPress, I specialize in User Interface/User Experience part of the design spectrum - with iOS and web being my forte. I do, however, also love and enjoy a little bit of programming so sometimes, I play around with Swift and ReactJS for fun.</p>

      <p>Most of my professional work has been inside an agency but right now I'm currently freelancing and/or doing contract work. So, if you have any interesting project or maybe just want to say hi, feel free to reach out on any of the following social media platforms.</p>

      <h4>About the site</h4>
      <p>This site is built as a static website with the help of Gulp + less (on top of the normal html/css/js) and hosted on Github pages. Fonts used are Monteserrat and Cabin from Google Webfonts.</p>
    </div>
  </div>
</div>

<% var page = 'About'; %>
<% include partials/footer.ejs %>
