

<% var page = 'Work'; %>
<% var navColor = '#8F00FF'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>App Icons</h1>

      <div class="row">
        <div class="six columns">
          <img src="img/app-icons/monsoon.png" alt="monsoon-icon" />
        </div>
        <div class="six columns">
          <img src="img/app-icons/chuckles-icon-cover.jpg" alt="chuckles-icon-cover"/>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <img src="img/app-icons/translate-icon.png" alt="translate-icon" />
        </div>
        <div class="six columns">
          <img src="img/app-icons/matchbox-cover.png" alt="matchbox-cover" />
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <img src="img/app-icons/jumble-cover.png" alt="jumble-cover"/>
        </div>
        <div class="six columns">
          <img src="img/app-icons/memorandum-icon.png" alt="memorandum-icon" />
        </div>
      </div>
    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
