

<% var page = 'Work'; %>
<% var navColor = '#F07D3E'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>City Badges</h1>

      <div class="row">
        <div class="six columns">
          <img src="img/city-badges/kathmandu.png" alt="kathmandu"/>
        </div>
        <div class="six columns">
          <img src="img/city-badges/calgary.png" alt="calgary"/>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <img src="img/city-badges/dubai.png" alt="dubai"/>
        </div>
        <div class="six columns">
         <img src="img/city-badges/easter-islands.png" alt="easter-islands"/>
        </div>
      </div>

    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
