

<% var page = 'Work'; %>
<% var navColor = '#ED3E79'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>Confero</h1>

      <p>Confero is a very simple web app that lets people log in with twitter and see who among their followers are heading to a particular event/conference. I worked alongside with the Taylr team to design and build it. You can find the site <a href="https://confero.io/" target="_blank">here</a>.

      <p>This was a small side project that we built and shipped in few days while working on <a href="bgauchan.com/trumpet.html">Taylr. </a>Below are some of the designs that I implemented throughout the site:</p>

      <div class="row">
        <div class="eight columns">
          <a href="img/confero/home.jpg">
            <img width="50%" src="img/confero/home.jpg" alt="confero home page"/>
          </a>
        </div>
        <div class="four columns">
          <a href="img/confero/home-mobile.jpg">
            <img width="50%" src="img/confero/home-mobile.jpg" alt="confero home mobile page"/>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="eight columns">
          <a href="img/confero/event-page.jpg">
            <img width="50%" src="img/confero/event-page.jpg" alt="confero event page"/>
          </a>
        </div>
        <div class="four columns">
          <a href="img/confero/event-mobile.jpg">
            <img width="50%" src="img/confero/event-mobile.jpg" alt="confero event mobile page"/>
          </a>
        </div>
      </div>

    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
