

<% var page = 'Work'; %>
<% var navColor = '#01ADA9'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>CPD Calendar</h1>

      <a href="img/cpd-calendar/cpd-calendar.jpg"><img src="img/cpd-calendar/cpd-calendar.jpg" alt="cpd-calendar"/></a>

      <p>An iOS and Android app that I worked on while working at Dynamic Leap. If you would like to read more details regarding the project, you can find it <a href="http://www.dynamic-leap.com/showroom/cpd-calendar/" target="_blank">here</a>.

      <div class="row">
        <div class="four columns">
          <a href="img/cpd-calendar/login.png"><img src="img/cpd-calendar/login.png" alt="login"/></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/dashboard.png"><img src="img/cpd-calendar/dashboard.png" alt="dashboard"/></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/claim-credits.png"><img src="img/cpd-calendar/claim-credits.png" alt="claim-credits"/></a>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          <a href="img/cpd-calendar/alerts.png"><img src="img/cpd-calendar/alerts.png" alt="alerts"/></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/full-search.png"><img src="img/cpd-calendar/full-search.png" alt="full-search" /></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/full-dropdown.png"><img src="img/cpd-calendar/full-dropdown.png" alt="full-dropdown"/></a>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          <a href="img/cpd-calendar/user-profile.png"><img src="img/cpd-calendar/user-profile.png" alt="user-profile"/></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/event-details.png"><img src="img/cpd-calendar/event-details.png" alt="event-details"/></a>
        </div>
        <div class="four columns">
          <a href="img/cpd-calendar/event-details-expanded.png"><img src="img/cpd-calendar/event-details-expanded.png" alt="event-details-expanded"/></a>
        </div>
      </div> <!-- end of row -->

    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
