

<% var page = 'Work'; %>
<% var navColor = '#306DE5'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>Go Music</h1>

      <a href="img/go-music/gomusic-icon.png"><img src="img/go-music/gomusic-icon.png" alt="gomusic-icon"/></a>

      <p>A freelance project that required me to design an icon and few screens for a Google Music 3rd party client.</p>

      <a href="img/go-music/sketch.jpg"><img src="img/go-music/sketch.jpg" alt="sketch"/></a>

      <a href="img/go-music/gomusic-album-songs.png"><img src="img/go-music/gomusic-album-songs.png" alt="gomusic-album-songs"/></a>

      <a href="img/go-music/gomusic-all-songs.png"><img src="img/go-music/gomusic-all-songs.png" alt="gomusic-all-songs"/></a>

      <a href="img/go-music/gomusic-artists.png"><img src="img/go-music/gomusic-artists.png" alt="gomusic-artists"/></a>

      <a href="img/go-music/gomusic-main.png"><img src="img/go-music/gomusic-main.png" alt="gomusic-main"/></a>

    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
