
<% var page = 'Home'; %>
<% include partials/header.ejs %>

<div id="home" class="home">

  <div id="sidebar" class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li><a href="./about.html">About</a></li>
        <li><a class="active" href="http://bgauchan.com/">Home</a></li>
        <li><a href="http://bgauchan.tumblr.com/" target="_blank">Blog</a></li>
      </ul>
    </nav>

    <div class="info">
      <h3>Hey, I'm Bardan</h3>
      <p class="tagline">
        A freelance User Interface Designer currently residing in Vancouver. I'm passionate about design, tech, food (who isn't?), and travelling.
      </p>
      <br/>
      <ul class="social-links-list">
        <li><a class="social-links twitter" href="https://twitter.com/iisbardan" target="_blank"></a></li>
        <li><a class="social-links instagram" href="https://instagram.com/iisbardan" target="_blank"></a></li>
        <li><a class="social-links dribbble" href="https://dribbble.com/bgauchan" target="_blank"></a></li>
        <li><a class="social-links github" href="https://github.com/bgauchan" target="_blank"></a></li>
        <li><a class="social-links linkedin" href="https://ca.linkedin.com/pub/bardan-gauchan/28/116/340" target="_blank"></a></li>
      </ul>
    </div>

    <div class="character"></div>
  </div>

	<div id="content" class="content">
		<a href="./trumpet.html" class="work trumpet">
			<label>TRUMPET WEB APP</label>
		</a>
		<a href="./confero.html" class="work confero">
			<label>CONFERO WEB APP</label>
		</a>
		<a href="./taylr.html" class="work taylr">
			<label>TAYLR IPHONE APP</label>
		</a>
		<a href="./cpd-calendar.html" class="work cpd-calendar">
			<label>CPD CALENDAR IPHONE APP</label>
		</a>
		<a href="./dynamic-leap.html" class="work dynamic-leap">
			<label>DYNAMIC LEAP BRANDING AND WEBSITE</label>
		</a>
		<a href="./healthtap.html" class="work healthtap">
			<label>HEALTHTAP ONBOARDING FOR IPHONE APP</label>
		</a>
		<a href="./city-badges.html" class="work city-badges">
			<label>CITY BADGES ILLUSTRATION</label>
		</a>
		<a href="./go-music.html" class="work go-music">
			<label>GO MUSIC IPAD APP</label>
		</a>
		<a href="./xplore.html" class="work xplore">
			<label>XPLORE IPHONE APP</label>
		</a>
		<a href="./miixtape.html" class="work miixtape">
			<label>MIIXTAPE IPHONE APP</label>
		</a>
	</div>

</div>

<% var page = 'Home'; %>
<% include partials/footer.ejs %>
