

<% var page = 'Work'; %>
<% var navColor = '#1AA36A'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>Miixtape App</h1>

      <p>Miixtape is an iOS app that I'm currently trying to design and develop as a side project. It is my first attempt at designing as well as developing a full native app. I've played around with Objective-C before but never got around to building anything concrete. I always got bored and gave up everytime I would come against a problem and couldn't solve it within days. Shitty excuse, I know but in my defense, iOS development is harder than I thought (not that I had imagined it was easy in the first place).</p>

      <p>I've also never designed for mobile devices except for few responsive web pages. Nothing that was fully native to a mobile device. Over the last couple of years, usage of mobile devices and apps have exploded and I've been really fascinated by all the awesome interfaces that have been designed for some of my favorite apps. I've been dying to try my hand at designing for a mobile application and a side project was the best way to do it.</p>

      <div class="row">
        <div class="six columns">
          <a href="img/miixtape/miixtape-cover.png"><img src="img/miixtape/miixtape-cover.png" alt="miixtape-cover"/></a>
        </div>
        <div class="six columns">
          <a href="img/miixtape/icon-big.png"><img src="img/miixtape/icon-big.png"/></a>
        </div>
      </div>
      <br/>

      <h4>The Idea</h4>

      <p>Miixtape is an app based on Rdio. The idea behind it was to separate the part that I use the most out of Rdio - which were the artist (and now song) radio stations - and make it into another app. I love that I can find any song or album and add it to my collection or playlist to listen to it later. However, most of the time, I only use the radio stations to discover new songs. When I come across a song I like, I add it to one of my playlists to listen to it later. This way I get the best of both worlds and I love Rdio for it. So, why create an app out of something that's already present?</p>

      <p>Well, I felt like the radio feature is buried a little too deep for my taste. Since I use this feature all the time, it sucks having to search the artist or song I like and then create a station out of it. Worse, if you keep changing stations for different moods or time of the day like I do, you have to repeat this process all over again. With Miixtape I would be able to bookmark stations for easy access. For example, on my main screen I could have my Jay-Z station or Daft Punk station and those would be accessible with one click. Everytime.</p>

      <a href="img/miixtape/home-play.jpg"><img src="img/miixtape/home-play.jpg" alt="home+play"/></a>

      <p>I could also add the default miixtapes (playlists) likes Heavy Rotation station, My Collection station, Top Charts Songs, etc in the Recommended section. Maybe even throw in popular playlists or curated ones similar to Songza's playlists. Finally, implementing the ability to create stations from multiple artists rather than just one so you can mix and match different artists would be fun. Imagine coming up with some weird combinations of different types of music.</p>

      <a href="img/miixtape/login-recommended.jpg"><img src="img/miixtape/login-recommended.jpg" alt="login+recommended"/></a>

      <p>The user would be able to discover new songs and have easy access to their favorite station that they created. Anytime they come across a song they like, they would still have the ability to add to their playlists or collection in Rdio.</p>

      <a href="img/miixtape/options-layout-2.png"><img src="img/miixtape/options-layout-2.png" alt="options-layout-2"/></a>
    </div> <!-- end of columns -->
  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
