

<% var page = 'Work'; %>
<% var navColor = '#00BCD6'; %>
<% include partials/header.ejs %>

<div id="project" class="container project">
  <div class="row">
    <div class="twelve columns">
      <h1>Trumpet</h1>

      <p>Trumpet is a web app that lets you search, find, and review local businesses. I recently worked with the amazing Trumpet team to sketch, design, prototype and build the responsive front-end of the website/app. You can find it <a href="https://trumpet.ca/" target="_blank">here</a>.

      <p>Below are some of the designs that I implemented throughout the site:</p>
      <div class="row">
        <div class="six columns">
          <a href="img/trumpet/trumpet-launch-page.png">
            <img width="50%" src="img/trumpet/trumpet-launch-page.png" alt="trumpet launch page"/>
          </a>
        </div>
        <div class="six columns">
          <a href="img/trumpet/trumpet-cover.png">
            <img width="50%" src="img/trumpet/trumpet-cover.png" alt="trumpet"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <a href="img/trumpet/businesses.png">
            <img width="50%" src="img/trumpet/businesses.png" alt="businesses"/>
          </a>
        </div>
        <div class="six columns">
          <a href="img/trumpet/business-photos.png">
            <img width="50%" src="img/trumpet/business-photos.png" alt="business photos"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <a href="img/trumpet/edit-business-profile.png">
            <img width="50%" src="img/trumpet/edit-business-profile.png" alt="edit business profile"/>
          </a>
        </div>
        <div class="six columns">
          <a href="img/trumpet/credit-cards-and-billing-history.png">
            <img width="50%" src="img/trumpet/credit-cards-and-billing-history.png" alt="credit cards and billing history"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <a href="img/trumpet/notifications.png">
            <img width="50%" src="img/trumpet/notifications.png" alt="notifications"/>
          </a>
        </div>
        <div class="six columns">
          <a href="img/trumpet/current-subscription-plan.png">
            <img width="50%" src="img/trumpet/current-subscription-plan.png" alt="current subscription plan"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <a href="img/trumpet/edit-category-modal.png">
            <img width="50%" src="img/trumpet/edit-category-modal.png" alt="edit category modal"/>
          </a>
        </div>
        <div class="six columns">
          <a href="img/trumpet/photo-gallery-modal.png">
            <img width="50%" src="img/trumpet/photo-gallery-modal.png" alt="photo gallery modal"/>
          </a>
        </div>
      </div>

    </div> <!-- end of columns -->

  </div> <!-- end of row -->
</div> <!-- end of project -->

<% var page = 'Project'; %>
<% include partials/footer.ejs %>
